@page
@model IndexModel
@{
    ViewData["Title"] = "Contoso Merchandise Co.";
}

<div class="text-center">
    <h1 class="display-4">Grab these great deals!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

Our products are hot, hot, hot!!

<div style="color: #D8000C; background-color: #FFBABA">
  @Model.ErrorMessage
</div> 

<table class="table">
   <thead>
      <tr>
         <th>Product Name</th>
         <th>Description</th>
         <th>Cost</th>
         <th>In Stock</th>
      </tr>
   </thead>
   <tbody>
      @foreach (var product in @Model.Products)
      {
         <tr>
            <td>@product.ProductName</td>
            <td>@product.Description</td>
            <td>$@product.Cost</td>
            <td>@product.InStock</td>
         </tr>
      }
   </tbody>
</table>

